*.pyc
.DS_Store
*.sqlite3
*.mo
*.sql
*.db
.vagrant

/static
/env
/media

local_settings.py

.tox
.coverage
/run_tests.sh
/docs/_build
/htmlcov
/build
/dummy

# eclipse
/.project
/.pydevproject
/cover
/.settings

node_modules
.sass-cache

/.idea